body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;
  background-image: url(images/bg.png);
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .score{
  padding:5px 12px;
  float:right;
  background-color: #777;
}
.score{
  float:left;
}
.topbar{
  height:32px;
  background-color: #555;
}
.plane, .derpybird{
  position: absolute;
}
.gameover {
  font-size: 400px;
}
.instructions{
  font-size: 100px;
  color: #555;
}
